body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  background-color: #f0f0f0;
}

/* Login Page */
.login-container {
  width: 300px;
  margin: 100px auto;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.login-container h1 {
  margin-bottom: 20px;
  text-align: center;
}

.login-container form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #5cb85c;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #449d44;
}

.error-message {
  color: #a94442;
  background-color: #f2dede;
  padding: 10px;
  border: 1px solid #ebccd1;
  border-radius: 4px;
  margin-bottom: 20px;
}

/* Index Page */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #5cb85c;
  color: #ffffff;
}

button {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

button:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logout-button a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  background-color: #5cb85c;
  border: 2px solid #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.logout-button a:hover {
  background-color: #449d44;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.account-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.account-box {
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px;
  position: relative;
  flex-wrap: wrap;
  flex: 0 0 calc(50% - 40px);
}

.update-form {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(25% - 10px);
  padding: 10px;
  background-color: #ccc;
  min-height: 650px;
}

.create-account-form {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  padding: 10px;
}

.update-form label,
.update-form input,
.update-form textarea,
.create-account-form label,
.create-account-form input,
.create-account-form textarea {
  display: block;
  margin-bottom: 20px;
  width: 95%;
}

textarea {
  height: 325px;
}

.cron-feed-addresses button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  background-color: #d9534f;
  color: #ffffff;
}

.update-button,
.add-account-button,
.delete-button,
.generate-button,
.delete-status-button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.update-button,
.add-account-button {
  background-color: #5cb85c;
  color: #ffffff;
}

.delete-button {
  background-color: #d9534f;
  color: #ffffff;
}

.generate-button {
  background-color: #337ab7;
  color: #ffffff;
}

.delete-status-button {
  background-color: #f0ad4e;
  color: #ffffff;
}

.update-button:hover,
.add-account-button:hover {
  background-color: #449d44;
}

.delete-button:hover {
  background-color: #c9302c;
}

.generate-button:hover {
  background-color: #286090;
}

.delete-status-button:hover {
  background-color: #ec971f;
}

.cron-feed-addresses {
  padding: 10px;
}

.statuses {
  flex: 0 0 calc(70%);
  padding: 10px;
}

.statuses ul {
  list-style-type: none;
  padding: 0;
  flex: 0 0 50%;
  max-height: 450px;
  overflow-x: overlay;
}

.statuses li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  margin-bottom: 10px;
  border-radius: 4px;
}

footer {
  background-color: #5cb85c;
  color: #ffffff;
  padding: 10px 20px;
  text-align: center;
  margin-top: 20px;
}

.footer-text {
  margin: 0;
}

/* Add these styles to make account boxes display in two columns on desktop */
@media (max-width: 768px) {
  .container {
    justify-content: center;
  }

  .account-wrapper {
    flex-direction: column;
  }
  .account-box {
    width: 100%;
    flex: unset;
  }
}
